// * ---------------------------------------------------------------------------    
// 
//       __ __  __
//     /  /   /   /     __/__/__
//     \ /   /   /  __   /  /  __  (/__
//      /   /   / /  /  /  /  /__) /  /
//     /   /   / (__/__/_ /__/____/  /_/
//             \
//               SOLUTIONS
// 
// 
//	=Module - Btn / Buttons - Split Fill
//
// 	Create a fill effect from both ends of the button
//
// ---------------------------------------------------------------------------- */

@mixin mk-create-btn--split-fill( $bg, $bg--hover, $text, $text--hover ) {

	position: relative;
	overflow: hidden;

	.#{ $mk-component-btn-name }__text {

		display: inline-block;
		position: relative;
		z-index: 1;

	}

	&:hover {

		background-color: $bg;

	}

	&:before,
	&:after {

		background-color: $bg--hover;
		content: "";
		display: inline-block;
		height: 100%;
		opacity: .8;
		position: absolute;
		top: 0;
		transition: all .5s ease;
		width: 0;
		z-index: 0;

	}

	&:after {

		right: 0;
		transform: translateX( 30% );
		
	}


	&:before {

		left: 0;
		transform: translateX( -30% );

	}

	&:hover,
	&:active {

		&:before,
		&:after {

			width: 120%;

		}


		&:before {

			transform: translateX( -20% );

		}


		&:after {
	
			transform: translateX( 20% );

		}

	}

}