// * ---------------------------------------------------------------------------    
// 
//       __ __  __
//     /  /   /   /     __/__/__
//     \ /   /   /  __   /  /  __  (/__
//      /   /   / /  /  /  /  /__) /  /
//     /   /   / (__/__/_ /__/____/  /_/
//             \
//               SOLUTIONS
// 
// 
//	=Module - Btn / Buttons - Grow
//
// 	Make it BIGGER on hover/active
//
// ---------------------------------------------------------------------------- */

@mixin mk-create-btn--grow( $bg, $bg--hover, $text, $text--hover ) {

	position: relative;
	transform: scale( 1 );
	transition: all .2s ease;

	&:hover,
	&:active {

		transform: scale( 1.025 );

	}

}